* {
    margin: 0px;
    font-style: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}
.nav-logo{
    height: 58px;
    width: 111px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width :100%;
}
.borde{
    border: 1px solid transparent;
    
}
.borde :hover{
    border: 1px solid white;
}