* {
    margin: 0px;
    font-family: arial;
    border: border-box;
}
/** nav_bar pannel **/
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
/** logo box **/
.nav-logo{
    height: 50px;
    width: 118px;
}
.forhovering_border{
    height: 50px;
    width: 15px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width :100%;
}
.border{
    border: 1px solid transparent; 
}
.border:hover{
    border: 1px solid white;
}
/** address box**/
.delivery-line{
    color:#cccccc;
    font-size: 12px;
    margin-left: 20px;
    margin-top:13px;
}
.delivery-place{
    color:#ffffff;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 2px;
}
.add-icon{
    display: flex;
}
.nav-address{
    height: 50px;
    width: 120px;
}
/** search-box **/
.nav-search {
    display: flex;
    height: 40px;
    width: 814px;
    border-radius: 4px;
    justify-content: space-evenly;
    margin-left: 15px;
    margin-right: 15px;
}
.search-select{
    background-color: #e6e6e6;
    color: #0f1111;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
    width: 67px;

}
.search-text{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-emoji{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
}
.nav-search:hover{
    border: 2.5px solid orange;
    border-radius: 6px;
}
/** language box **/
.lan-logo{
    background-image: url(USA.png);
    background-size: cover;
    width: 21.6px;
    height: 16.2px;
    margin-left: 15px;
    margin-top: 23px;
}
.language-option{
    font-size: 0.7rem;
    height: 40px;
    width: 38px;
    margin-left: 4px;
    margin-top: 10px;
    background-color:#0f1111;
    color:#ffffff;
    font-weight: 700;
    border: none;
}
.nav-language-box{
    display: flex;
}

/** sign in box **/
.first-line{
    font-size: 12px;
    color: #ffffff;
    margin-top: 10px;
    margin-left:18px;
}
.second-line{
    font-size: 14px;
    font-weight: 700;
    margin-left:18px;
}
.nav-signin{
    height: 50px;
    width: 135px;
}
/** return & order-box **/
.nav-return{
    height: 50px;
    width: 86px;
}
/** cartbox **/
.nav-cart i{
    margin-top: 10px;
    margin-left: 8px;
    font-size: 33px;
}
.nav-cart{
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    width: 90px;
}
/** shortcut box **/
.panel{
    height: 40px;
    background-color: #222f3d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenl;
}
.select_all{
    height: 40px;
    width: 59px;
    display: flex;  
    font-family: inherit;
    margin-left: 15px;
}
.select_all i{
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left:5px;
}
.all-text{
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 11px;
}
.panel_option{
    height: 40px;
    width: 1180px;
    display: flex;
    align-items: center;
    font-size: .9rem;  
}
.panel_option p{
    padding-left: 8px;
    padding-right: 8px;
}
.TD{
    height: 40px;
    display: flex;
    align-items: center;
}
.CS{
    height: 40px;
    display: flex;
    align-items: center;
}
.R{
    height: 40px;
    display: flex;
    align-items: center;
}
.GC{
    height: 40px;
    display: flex;
    align-items: center;
}
.S{
    height: 40px;
    display: flex;
    align-items: center;
}
.best_deal{
    height: 40px; 
    display: flex;
    align-items: center;
}
/** hero_Section box **/
.hero-and-shopbox{
    height: 730px;
    background-image: url(hero_image.jpg);
    background-size: cover;
}
.hero_section{
    height: 290px;
    display: flex;
}
.previous_slide{
    height: 250px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    }
.next_slide{
    height: 250px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    position: relative;
    left: 1290px;
    }
.hero_msg{
    height: 40px;
    width: 1130px;
    background-color: #F5F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 250px;
}
.hero_msg a{
    color: #007185;
}
/**shopping box **/
.shopping_item{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    /* background-colo: rgb(207, 163, 187);
} */
.shopbox{
    height: 420px;
    width: 23.4%;
    /* display: fle;
    justify-content: space-evenl; */
    background-color: white;
    color :#0f1111;
}
/** Gaming Accessories **/
.box-content{
    margin-left: 20px;
}
.box-content h2{
    margin-top: 25px;
}
.box-content p{
    color:#0f1111;
    font-size: 13px;
    position: relative;
    top: 100px;
}
.image-part1{
    display: flex;
}
.ga-image1{
    margin-top: 20px;
    height:100px;
    width: 155px;
    background-image: url("ga image1.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}
.ga-image2{
    margin-top: 20px;
    height:100px;
    width: 155px;
    background-image: url("ga image2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.image-part2{
    display: flex;
}
.ga-image3{
    margin-top: 40px;
    height:100px;
    width: 155px;
    background-image: url("ga image3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.ga-image4{
    margin-top: 40px;
    height:100px;
    width: 155px;
    background-image: url("ga image4.jpg");
    background-size: 170px 130px;
}
.see-more-for-four-img p{
    color: #007185;
    font-size: 15px;
    margin-top: 70px;
    margin-left: 20px;
}
/** PC deals **/
.pc-image{
    height: 300px;
    width: 297px;
    background-image: url("pc-image.jpg");
    background-size: 330px 340px;
    /* background-repeat: no-repea; */
    margin-top: 20px;
}
}
.box2-content{
    margin-left: 20px;
    margin-top: 25px;
}
.see-more-for-one-img p{
    color: #007185;
    font-size: 15px;
    margin-top: 10px;
}
/** Refresh category **/
/* .box-content{
    margin-left: 20px;
}
.box-content h2{
    margin-top: 25px;
}
.box-content p{
    color:#0f1111;
    font-size: 13px;
    position: relative;
    top: 100px;
}
.image-part1{
    display: flex;
} */
.rys-image1{
    margin-top: 20px;
    height:100px;
    width: 142.5px;
    background-image: url("dining-img.jpg");
    background-size: 155px 120px;
}
.rys-image2{
    margin-top: 20px;
    margin-left: 15px;
    height:100px;
    width: 142.5px;
    background-image: url("home-img.jpg");
    background-size: 155px 120px;
}
/* .image-part2{
    display: flex;
} */
.rys-image3{
    margin-top: 40px;
    height:100px;
    width: 142.5px;
    background-image: url("kitchen-img.jpg");
    background-size: 155px 100px;
}
.rys-image4{
    margin-top: 40px;
    margin-left: 15px;
    height:100px;
    width: 142.5px;
    background-image: url("health-and-beauty-img.jpg");
    background-size: 155px 100px;
}
/* AMAZON GADGET BOX */
.ags-image1{
    margin-top: 20px;
    height:172px;
    width: 300px;
    background-image: url("Smartphones-img.jpg");
    background-size: 350px 172px;
}
.ags-image2{
    margin-top: 20px;
    height:85px;
    width: 95.33px;
    background-image: url("tablets-img.jpg");
    background-size: 120px 90px;
}
.ags-image3{
    margin-top: 20px;
    margin-left: 7px;
    height:85px;
    width: 95.33px;
    background-image: url("laptops-img.jpg");
    background-size: 115px 80px;
}
.ags-image4{
    margin-top: 20px;
    margin-left: 7px;
    height:85px;
    width: 95.33px;
    background-image: url("tvs-img.jpg");
    background-size: 115px 90px;
}
.see-more-for-ags{
    color: #007185;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 20px;
}
.box-content-ags{
    margin-left: 20px;
}
.box-content-ags h2{
    margin-top: 25px;
}
.box-content-ags1 p{
    color:#0f1111;
    font-size: 15px;
    margin-top: 170px;
}
.box-content-ags2 p{
    color:#0f1111;
    font-size: 15px;
    margin-top: 85px;
}

